*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.app-container{
    max-width: 850px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
}

h1{
    text-align: center;
    margin-bottom: 35px;
    font-size: 2rem;
}

.input-row{
    display: flex;
    gap: 12px;
    margin-bottom: 30px;
}

input{
    flex: 1;
    padding: 14px;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
}

input:focus{
    transform: scale(1.02);
}

button{
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.add-btn{
    padding: 14px 25px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

.add-btn:hover{
    transform: scale(1.05);
}

.inventory-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
    padding: 18px;

    border-radius: 14px;
}

.item-info{
    font-size: 1.1rem;
    font-weight: bold;
}

.low-stock{
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 8px;
}

.delete-btn{
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;
}

.delete-btn:hover{
    transform: scale(1.08);
}